<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resale | {{ escape(title) }}</title>
</head>

<body>
<p class="post_title">{{ escape(title) }}</p>
<p class="post_price">${{ escape(price) }}</p>
<p>&nbsp;</p>
<p><img class="post_image" src="{{ image_url }}" /></p>
<p><span class="permalink_label">Permalink:</span> <a class="post_url" href="{{ url }}">{{ escape(url) }}</a></p>
</body>
</html>
